.folder-main {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  height: max-content;
  padding: 15px;
}

.content-folder {
  display: flex;
  justify-content: center;
  width: 200px;
  padding-left: 10px;
}
.folderFigure {
  position: relative;
  height: 130px;
  width: fit-content;
}
.folderSquare {
  gap: 5px;
  display: flex;
  padding: 10px;
  width: 180px;
  height: 135px;
  background-color: rgb(46, 46, 220);
  border-radius: 5px;
}

.folderTrapezoid {
  position: absolute;
  top: -25px;
  border-top-left-radius: 5px;
  width: 100px;
  border-bottom: 30px solid rgb(46, 46, 220);
  border-right: 30px solid transparent;
}
