.folder-main{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.content-folder{
    margin: 0 auto;
    justify-content: center;
 
    gap: 5px;

}


.edit-folder{
    display: flex;
    flex-direction: column;

    gap: 5px;
    justify-content: space-between;

}